<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Registration Successful | ArogyaAI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <meta http-equiv="refresh" content="4;url=/">

</head>

<body>

<div class="overlay center">

    <div class="success-card">

        <h1>✅ Registration Successful</h1>

        <h3>

            Welcome to ArogyaAI

        </h3>

        <p>

            Your account has been activated successfully.

        </p>

        <p>

            Please wait...

        </p>

        <h3>

            Redirecting you to Login...

        </h3>

        <div class="loader"></div>

    </div>

</div>

<div class="footer">

    <div class="footer-track">

        <span>

            🌿 Created by <b>K. Shreya Dubey</b> • ArogyaAI • AI Powered Clinical Decision Support System • Jindal Internship Project • 2026 •

        </span>

        <span>

            🌿 Created by <b>K. Shreya Dubey</b> • ArogyaAI • AI Powered Clinical Decision Support System • Jindal Internship Project • 2026 •

        </span>

    </div>

</div>

</body>

</html>